In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st

In [30]:
file_path = Path("C:/Users/chris/Desktop/Data_Projects/Absentee_Owner_Data_Cleaning/NJ_PM_Businesses.csv")

In [31]:
pd.set_option('display.max_columns', None)

In [32]:
public_data = pd.read_csv(file_path)
public_data.head()

,Company Name,Parent Company Name,Executive First Name,Executive Last Name,Professional Title,Executive Title,Executive Gender,Address,City,State,ZIP Code,ZIP Four,Carrier Route,Delivery Point Barcode,County,Metro Area,Neighborhood,Phone Number Combined,Fax Number Combined,Toll Free Number Combined,Website,Company Description,Primary SIC Code,Primary SIC Description,Primary SIC Ad Size,Primary SIC Year Appeared,SIC Code 1,SIC Code 1 Description,SIC Code 1 Ad Size,SIC Code 1 Year Appeared,SIC Code 2,SIC Code 2 Description,SIC Code 2 Ad Size,SIC Code 2 Year Appeared,SIC Code 3,SIC Code 3 Description,SIC Code 3 Ad Size,SIC Code 3 Year Appeared,SIC Code 4,SIC Code 4 Description,SIC Code 4 Ad Size,SIC Code 4 Year Appeared,SIC Code 5,SIC Code 5 Description,SIC Code 5 Ad Size,SIC Code 5 Year Appeared,SIC Code 6,SIC Code 6 Description,SIC Code 6 Ad Size,SIC Code 6 Year Appeared,SIC Code 7,SIC Code 7 Description,SIC Code 7 Ad Size,SIC Code 7 Year Appeared,SIC Code 8,SIC Code 8 Description,SIC Code 8 Ad Size,SIC Code 8 Year Appeared,SIC Code 9,SIC Code 9 Description,SIC Code 9 Ad Size,SIC Code 9 Year Appeared,SIC Code 10,SIC Code 10 Description,SIC Code 10 Ad Size,SIC Code 10 Year Appeared,Primary NAICS,Primary NAICS Description,NAICS 1,NAICS 1 Description,NAICS 2,NAICS 2 Description,NAICS 3,NAICS 3 Description,NAICS 4,NAICS 4 Description,NAICS 5,NAICS 5 Description,NAICS 6,NAICS 6 Description,NAICS 7,NAICS 7 Description,NAICS 8,NAICS 8 Description,NAICS 9,NAICS 9 Description,NAICS 10,NAICS 10 Description,Franchise Description 1,Franchise Description 2,Franchise Description 3,Franchise Description 4,Franchise Description 5,Cuisine Code,Cuisine Code Description,Location Employee Size Range,Location Employee Size Actual,Location Sales Volume Range,Location Sales Volume Actual,Corporate Employee Size Range,Corporate Employee Size Actual,Corporate Sales Volume Range,Corporate Sales Volume Actual,Type of Business,Location Type,IUSA Number,Parent IUSA Number,Subsidiary IUSA Number,Foreign Parent Flag,EIN 1,EIN 2,EIN 3,Fortune 1000 Ranking,Credit Cards Accepted,Last Updated On,Years In Database,Year Established,Square Footage,Home Business,Credit Score Alpha,Government Office,Import Export Flag,Own or Lease,Firm or Individual,Monday Open,Monday Close,Tuesday Open,Tuesday Close,Wednesday Open,Wednesday Close,Thursday Open,Thursday Close,Friday Open,Friday Close,Saturday Open,Saturday Close,Sunday Open,Sunday Close,Executive First Name 1,Executive Last Name 1,Executive Title 1,Executive Gender 1,Executive First Name 2,Executive Last Name 2,Executive Title 2,Executive Gender 2,Executive First Name 3,Executive Last Name 3,Executive Title 3,Executive Gender 3,Executive First Name 4,Executive Last Name 4,Executive Title 4,Executive Gender 4,Executive First Name 5,Executive Last Name 5,Executive Title 5,Executive Gender 5,Executive First Name 6,Executive Last Name 6,Executive Title 6,Executive Gender 6,Executive First Name 7,Executive Last Name 7,Executive Title 7,Executive Gender 7,Executive First Name 8,Executive Last Name 8,Executive Title 8,Executive Gender 8,Executive First Name 9,Executive Last Name 9,Executive Title 9,Executive Gender 9,Executive First Name 10,Executive Last Name 10,Executive Title 10,Executive Gender 10,Executive First Name 11,Executive Last Name 11,Executive Title 11,Executive Gender 11,Executive First Name 12,Executive Last Name 12,Executive Title 12,Executive Gender 12,Executive First Name 13,Executive Last Name 13,Executive Title 13,Executive Gender 13,Executive First Name 14,Executive Last Name 14,Executive Title 14,Executive Gender 14,Executive First Name 15,Executive Last Name 15,Executive Title 15,Executive Gender 15,Executive First Name 16,Executive Last Name 16,Executive Title 16,Executive Gender 16,Executive First Name 17,Executive Last Name 17,Executive Title 17,Executive Gender 17,Executive First Name 18,Executive Last Name 18,Executive Title 18,Executive Gender 18,Executive First Name 19,Executive Last Name 19,Executive Title 19,Executive Gender 19,Executive First Name 20,Executive Last Name 20,Executive Title 20,Executive Gender 20,Executive First Name 21,Executive Last Name 21,Executive Title 21,Executive Gender 21,Executive First Name 22,Executive Last Name 22,Executive Title 22,Executive Gender 22,Executive First Name 23,Executive Last Name 23,Executive Title 23,Executive Gender 23,Executive First Name 24,Executive Last Name 24,Executive Title 24,Executive Gender 24,Executive First Name 25,Executive Last Name 25,Executive Title 25,Executive Gender 25,Executive First Name 26,Executive Last Name 26,Executive Title 26,Executive Gender 26,Executive First Name 27,Executive Last Name 27,Executive Title 27,Executive Gender 27,Executive First Name 28,Executive Last Name 28,Executive Title 28,Executive Gender 28,Executive First Name 29,Executive Last Name 29,Executive Title 29,Executive Gender 29,Executive First Name 30,Executive Last Name 30,Executive Title 30,Executive Gender 30,Executive First Name 31,Executive Last Name 31,Executive Title 31,Executive Gender 31,Executive First Name 32,Executive Last Name 32,Executive Title 32,Executive Gender 32,Executive First Name 33,Executive Last Name 33,Executive Title 33,Executive Gender 33,Executive First Name 34,Executive Last Name 34,Executive Title 34,Executive Gender 34,Executive First Name 35,Executive Last Name 35,Executive Title 35,Executive Gender 35,Executive First Name 36,Executive Last Name 36,Executive Title 36,Executive Gender 36,Executive First Name 37,Executive Last Name 37,Executive Title 37,Executive Gender 37,Executive First Name 38,Executive Last Name 38,Executive Title 38,Executive Gender 38,Executive First Name 39,Executive Last Name 39,Executive Title 39,Executive Gender 39,Executive First Name 40,Executive Last Name 40,Executive Title 40,Executive Gender 40,Executive First Name 41,Executive Last Name 41,Executive Title 41,Executive Gender 41,Executive First Name 42,Executive Last Name 42,Executive Title 42,Executive Gender 42,Executive First Name 43,Executive Last Name 43,Executive Title 43,Executive Gender 43,Executive First Name 44,Executive Last Name 44,Executive Title 44,Executive Gender 44,Executive First Name 45,Executive Last Name 45,Executive Title 45,Executive Gender 45,Executive First Name 46,Executive Last Name 46,Executive Title 46,Executive Gender 46,Executive First Name 47,Executive Last Name 47,Executive Title 47,Executive Gender 47,Executive First Name 48,Executive Last Name 48,Executive Title 48,Executive Gender 48,Executive First Name 49,Executive Last Name 49,Executive Title 49,Executive Gender 49,Executive First Name 50,Executive Last Name 50,Executive Title 50,Executive Gender 50,Ticker Symbol,Stock Exchange,Accounting Expenses,Advertising Expenses,Computer Expenses,Contract Labor Expenses,Insurance Expenses,Legal Expenses,Office Supplies Expense,Management/Administration Expenses,Package Container Expense,Payroll and Benefits Expenses,Purchase Print Expenses,Rent Expenses,Telcom Expenses,Utilities Expenses,Mailing Address,Mailing City,Mailing State,Mailing Zip Code,Mailing Zip Four,Mailing Carrier Route,Mailing Delivery Point Bar Code,Twitter,Linked-In,Facebook,Franchise/Specialty Code 2.0,Franchise/Specialty Code 2.1,Franchise/Specialty Code 3.0,Franchise/Specialty Code 3.1,Franchise/Specialty Code 4.0,Franchise/Specialty Code 4.1,Franchise/Specialty Code 5.0,Franchise/Specialty Code 5.1,Franchise/Specialty Code 6.0,Affiliated Records,Franchise/Specialty Code 6.1,Affiliated Locations,Federal Contractor,Census Block Group,Legal Name,Record Type
0,11 Commerce Court LLC,NaN,NaN,NaN,NaN,NaN,NaN,11 Commerce Dr,Cranbury,NJ,8512,3503.0,R090,111.0,Middlesex,"New York, NY-NJ",NaN,(609) 395-9777,NaN,NaN,NaN,NaN,653108,Real Estate Management,Regular,2013,653108,Real Estate Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53121005,Offices Of Real Estate Agents And Brokers,53121005,Offices Of Real Estate Agents And Brokers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 to 4,3,"Less Than $500,000","$380,000",NaN,0,NaN,$0,Private,Single Loc,42-777-2388,0,0,NaN,NaN,NaN,NaN,0,NaN,202408,13,NaN,"2,500 - 4,999",No,C+,0,NaN,Lease,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$2,500 to $5,000","$5,000 to $10,000","$2,500 to $5,000","$1,000 to $10,000","$5,000 to $10,000","$5,000 to $10,000","$10,000 to $20,000","$10,000 to $25,000",Less than $500,"$100,000 to $250,000","$10,000 to $25,000","$10,000 to $25,000","$2,000 to $5,000","$10,000 to $25,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,No,5,11 COMMERCE COURT LLC,Verified
1,1170 Route 27 Realty LLC,NaN,Rasail,Shatashnikov,NaN,Owner,NaN,1170 Raritan Ave,Highland Park,NJ,8904,3665.0,C048,702.0,Middlesex,"New York, NY-NJ",Highland Park,(732) 253-7600,NaN,NaN,NaN,NaN,653108,Real Estate Management,Regular,2014,653108,Real Estate Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53121005,Offices Of Real Estate Agents And Brokers,53121005,Offices Of Real Estate Agents And Brokers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 to 4,2,"Less Than $500,000","$253,000",NaN,0,NaN,$0,Private,Single Loc,70-624-9934,0,0,NaN,NaN,NaN,NaN,0,NaN,202408,12,NaN,"2,500 - 4,999",No,C+,0,NaN,Lease,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rasail,Shatashnikov,Owner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$2,500 to $5,000","$5,000 to $10,000","$2,500 to $5,000","$1,000 to $10,000","$5,000 to $10,000","$5,000 to $10,000","$10,000 to $20,000","$10,000 to $25,000",Less than $500,"$100,000 to $250,000","$10,000 to $25,000","$10,000 to $25,000","$2,000 to $5,000","$10,000 to $25,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,No,1,1170 ROUTE 27 REALTY LLC,Verified
2,12 Ridge Assoc LLC,NaN,NaN,NaN,NaN,NaN,NaN,12 Ridge St,Basking Ridge,NJ,7920,1785.0,C002,993.0,Somerset,"New York, NY-NJ",NaN,(908) 766-0590,NaN,NaN,NaN,NaN,653108,Real Estate Management,NaN,2007,653108,Real Estate Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53121005,Offices Of Real Estate Agents And Brokers,53121005,Offices Of Real Estate Agents And Brokers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 to 4,2,"Less Than $500,000","$270,000",NaN,0,NaN,$0,Private,Single Loc,65-409-9605,0,0,NaN,NaN,NaN,NaN,0,NaN,202410,19,NaN,"2,500 - 4,999",No,C+,0,NaN,Own,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$1,000 to $2,500","Less than $5,000","$1,000 to $2,500","$1,000 to $10,000","$2,500 to $5,000","$2,500 to $5,000","$5,000 to $10,000","$2,500 to $5,000",Less than $500,"Less than $100,000","$5,000 to $10,000","Less than $10,000","Less than $2,000","Less than $2,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,No,1,12 RIDGE ASSOC LLC,Verified
3,1477 Oak Tree,NaN,NaN,NaN,NaN,NaN,NaN,1477 Oak Tree Rd,Iselin,NJ,8830,1625.0,C014,773.0,Middlesex,"New York, NY-NJ",Iselin,(732) 283-0311,NaN,NaN,Uscab.Org,NaN,653118,Real Estate,Regular,2014,653118,Real Estate,NaN,NaN,78301.0,Tree Service,NaN,NaN,653108.0,Real Estate Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53121003,Offices Of Real Estate Agents And Brokers,53121003,Offices Of Real Estate Agents And Brokers,56173022.0,Landscaping Services,53121005.0,Offices Of Real Estate Agents And Brokers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 to 4,4,"$500,000-1 Million","$506,000",NaN,0,NaN,$0,Private,Single Loc,70-499-7638,0,0,NaN,NaN,NaN,NaN,0,NaN,202407,12,NaN,"2,500 - 4,999",No,A,0,NaN,Own,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$2,500 to $5,000","$5,000 to $10,000","$2,500 to $5,000","$1,000 to $10,000","$5,000 to $10,000","$5,000 to $10,000","$10,000 to $20,000","$10,000 to $25,000",Less than $500,"$100,000 to $250,000","$10,000 to $25,000","$10,000 to $25,000","$2,000 to $5,000","$10,000 to $25,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,No,2,NaN,Verified
4,192 Route 22 LLC,NaN,NaN,NaN,NaN,NaN,NaN,192 US Highway 22,Green Brook,NJ,8812,1902.0,C001,928.0,Somerset,"New York, NY-NJ",NaN,(732) 968-5076,NaN,NaN,NaN,NaN,653108,Real Estate Management,Regular,2012,653108,Real Estate Management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53121005,Offices Of Real Estate Agents And Brokers,53121005,Offices Of Real Estate Agents And Brokers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 to 4,4,"$500,000-1 Million","$539,000",NaN,0,NaN,$0,Private,Single Loc,42-535-8746,0,0,NaN,NaN,NaN,NaN,0,NaN,202405,14,NaN,"2,500 - 4,999",No,B,0,NaN,Lease,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$2,500 to $5,000","$5,000 to $10,000","$2,500 to $5,000","$1,000 to $10,000","$5,000 to $10,000","$5,000 to $10,000","$10,000 to $20,000","$10,000 to $25,000",Less than $500,"$100,000 to $250,000","$10,000 to $25,000","$10,000 to $25,000","$2,000 to $5,000","$25,000 to $50,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,No,1,192 ROUTE 22 LLC,Verified

In [33]:
df = public_data[['Company Name', 'Executive First Name', 'Executive Last Name', 'Address', 'City', 'State', 'ZIP Code', 'ZIP Four', 'County', 'Metro Area', 'Phone Number Combined', 'Primary SIC Description', 'Primary SIC Year Appeared', 'SIC Code 1 Description', 'Location Sales Volume Actual', 'Location Employee Size Range', 'Own or Lease']]

In [34]:
df.head()

,Company Name,Executive First Name,Executive Last Name,Address,City,State,ZIP Code,ZIP Four,County,Metro Area,Phone Number Combined,Primary SIC Description,Primary SIC Year Appeared,SIC Code 1 Description,Location Sales Volume Actual,Location Employee Size Range,Own or Lease
0,11 Commerce Court LLC,NaN,NaN,11 Commerce Dr,Cranbury,NJ,8512,3503.0,Middlesex,"New York, NY-NJ",(609) 395-9777,Real Estate Management,2013,Real Estate Management,"$380,000",1 to 4,Lease
1,1170 Route 27 Realty LLC,Rasail,Shatashnikov,1170 Raritan Ave,Highland Park,NJ,8904,3665.0,Middlesex,"New York, NY-NJ",(732) 253-7600,Real Estate Management,2014,Real Estate Management,"$253,000",1 to 4,Lease
2,12 Ridge Assoc LLC,NaN,NaN,12 Ridge St,Basking Ridge,NJ,7920,1785.0,Somerset,"New York, NY-NJ",(908) 766-0590,Real Estate Management,2007,Real Estate Management,"$270,000",1 to 4,Own
3,1477 Oak Tree,NaN,NaN,1477 Oak Tree Rd,Iselin,NJ,8830,1625.0,Middlesex,"New York, NY-NJ",(732) 283-0311,Real Estate,2014,Real Estate,"$506,000",1 to 4,Own
4,192 Route 22 LLC,NaN,NaN,192 US Highway 22,Green Brook,NJ,8812,1902.0,Somerset,"New York, NY-NJ",(732) 968-5076,Real Estate Management,2012,Real Estate Management,"$539,000",1 to 4,Lease

In [35]:
column_val = df.count()
column_val

Company Name                    560
Executive First Name            303
Executive Last Name             303
Address                         548
City                            560
State                           560
ZIP Code                        560
ZIP Four                        508
County                          560
Metro Area                      560
Phone Number Combined           560
Primary SIC Description         560
Primary SIC Year Appeared       560
SIC Code 1 Description          560
Location Sales Volume Actual    560
Location Employee Size Range    560
Own or Lease                    560
dtype: int64

In [36]:
df_cleaned = df.dropna(subset=['Address'])

In [37]:
df_cleaned['Executive First Name'] = df_cleaned['Executive First Name'].fillna('Business')
df_cleaned['Executive Last Name'] = df_cleaned['Executive Last Name'].fillna('Owner')

C:\Users\chris\AppData\Local\Temp\ipykernel_8992\219049615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Executive First Name'] = df_cleaned['Executive First Name'].fillna('Business')
C:\Users\chris\AppData\Local\Temp\ipykernel_8992\219049615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Executive Last Name'] = df_cleaned['Executive Last Name'].fillna('Owner')

In [38]:
count = df_cleaned.count()
count

Company Name                    548
Executive First Name            548
Executive Last Name             548
Address                         548
City                            548
State                           548
ZIP Code                        548
ZIP Four                        508
County                          548
Metro Area                      548
Phone Number Combined           548
Primary SIC Description         548
Primary SIC Year Appeared       548
SIC Code 1 Description          548
Location Sales Volume Actual    548
Location Employee Size Range    548
Own or Lease                    548
dtype: int64

In [39]:
unique_values = df_cleaned['Primary SIC Description'].unique()

print(unique_values)

['Real Estate Management' 'Real Estate' 'Consultants-Business NEC'
 'Management Services' 'Beauty Salons' 'Lessors Of Real Property NEC'
 'Apartments' 'Housing-Rental' 'Building Contractors' 'Services NEC'
 'Attorneys' 'Automatic Contrls-Residential/Coml (Mfrs)'
 'Building Cleaning/Maintenance Svcs' 'Tax Return Preparation & Filing'
 'Accountants' 'Housing Authorities' 'Landscape Contractors'
 'Hotel & Motel Management' 'Real Estate Investments'
 'Business Management Consultants' 'Cemetery Lot Care & Service'
 'Youth Organizations & Centers' 'Fruits & Vegetables & Produce-Retail'
 'Engineering' 'Warehouses' 'Race Tracks' 'Insurance']

In [40]:
unique_values = df_cleaned['SIC Code 1 Description'].unique()

print(unique_values)

['Real Estate Management' 'Real Estate' 'Consultants-Business NEC'
 'Management Services' 'Beauty Salons' 'Lessors Of Real Property NEC'
 'Apartments' 'Housing-Rental' 'Building Contractors' 'Services NEC'
 'Attorneys' 'Automatic Contrls-Residential/Coml (Mfrs)'
 'Building Cleaning/Maintenance Svcs' 'Tax Return Preparation & Filing'
 'Accountants' 'Housing Authorities' 'Landscape Contractors'
 'Hotel & Motel Management' 'Real Estate Investments'
 'Business Management Consultants' 'Cemetery Lot Care & Service'
 'Youth Organizations & Centers' 'Fruits & Vegetables & Produce-Retail'
 'Engineering' 'Warehouses' 'Race Tracks' 'Insurance']

In [44]:
filtered_df = df_cleaned[df_cleaned['Primary SIC Description'] == 'Building Cleaning/Maintenance Svcs']

filtered_df

,Company Name,Executive First Name,Executive Last Name,Address,City,State,ZIP Code,ZIP Four,County,Metro Area,Phone Number Combined,Primary SIC Description,Primary SIC Year Appeared,SIC Code 1 Description,Location Sales Volume Actual,Location Employee Size Range,Own or Lease
82,Destiny Vista Properties LLC,Alecia,Harrison,18 Hamilton St # 8,Bound Brook,NJ,8805,1768.0,Somerset,"New York, NY-NJ",Not Available,Building Cleaning/Maintenance Svcs,2021,Building Cleaning/Maintenance Svcs,"$250,000",1 to 4,Lease

In [45]:
df_cleaned = df_cleaned[df_cleaned['Company Name'] != 'Nassau Capital Advisors LLC']

In [46]:
remove_values = [
    "Beauty Salons", "Attorneys", "Automatic Contrls-Residential/Coml (Mfrs)", 
    "Tax Return Preparation & Filing", "Accountants", "Housing Authorities", 
    "Landscape Contractors", "Hotel & Motel Management", "Cemetery Lot Care & Service", 
    "Youth Organizations & Centers", "Fruits & Vegetables & Produce-Retail", 
    "Engineering", "Warehouses", "Race Tracks", "Insurance", "Building Contractors"
]

# Remove rows where 'Primary SIC Description' contains any of the values
df_cleaned = df_cleaned[~df_cleaned['Primary SIC Description'].isin(remove_values)]

In [47]:
new_values = df_cleaned['SIC Code 1 Description'].unique()

print(new_values)

['Real Estate Management' 'Real Estate' 'Consultants-Business NEC'
 'Management Services' 'Lessors Of Real Property NEC' 'Apartments'
 'Housing-Rental' 'Services NEC' 'Building Cleaning/Maintenance Svcs'
 'Real Estate Investments' 'Business Management Consultants']

In [48]:
count = df_cleaned.count()
count

Company Name                    530
Executive First Name            530
Executive Last Name             530
Address                         530
City                            530
State                           530
ZIP Code                        530
ZIP Four                        491
County                          530
Metro Area                      530
Phone Number Combined           530
Primary SIC Description         530
Primary SIC Year Appeared       530
SIC Code 1 Description          530
Location Sales Volume Actual    530
Location Employee Size Range    530
Own or Lease                    530
dtype: int64

In [49]:
df_cleaned['ZIP Code'] = df_cleaned['ZIP Code'].astype(str).str.zfill(5)

In [50]:
df_cleaned = df_cleaned.drop(columns=['ZIP Four'])

In [51]:
df_cleaned.head()

,Company Name,Executive First Name,Executive Last Name,Address,City,State,ZIP Code,County,Metro Area,Phone Number Combined,Primary SIC Description,Primary SIC Year Appeared,SIC Code 1 Description,Location Sales Volume Actual,Location Employee Size Range,Own or Lease
0,11 Commerce Court LLC,Business,Owner,11 Commerce Dr,Cranbury,NJ,08512,Middlesex,"New York, NY-NJ",(609) 395-9777,Real Estate Management,2013,Real Estate Management,"$380,000",1 to 4,Lease
1,1170 Route 27 Realty LLC,Rasail,Shatashnikov,1170 Raritan Ave,Highland Park,NJ,08904,Middlesex,"New York, NY-NJ",(732) 253-7600,Real Estate Management,2014,Real Estate Management,"$253,000",1 to 4,Lease
2,12 Ridge Assoc LLC,Business,Owner,12 Ridge St,Basking Ridge,NJ,07920,Somerset,"New York, NY-NJ",(908) 766-0590,Real Estate Management,2007,Real Estate Management,"$270,000",1 to 4,Own
3,1477 Oak Tree,Business,Owner,1477 Oak Tree Rd,Iselin,NJ,08830,Middlesex,"New York, NY-NJ",(732) 283-0311,Real Estate,2014,Real Estate,"$506,000",1 to 4,Own
4,192 Route 22 LLC,Business,Owner,192 US Highway 22,Green Brook,NJ,08812,Somerset,"New York, NY-NJ",(732) 968-5076,Real Estate Management,2012,Real Estate Management,"$539,000",1 to 4,Lease

In [52]:
df_cleaned.to_csv("PM_Mailing_List_3-12-25.csv", index=False)