In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
file_path = Path("C:/Users/cjava/OneDrive/Desktop/Challenges/Absentee_Owner_Data_Cleaning/Lawrene_Society_Hill.csv")

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
public_data = pd.read_csv(file_path)
public_data.head()

,Property Address Formatted,Street Number,Street Number Ext,Street Location,Street Number Unit,Street Dir Prefix,Street Name,City,County,Postal Code,Carrier Route,Prop Do Not Mail,Current Owner Name,Owner Label Name,Owner Last Name,Owner First Name,Owner2 Last Name,Owner2 First Name,Owner3 Last Name,Owner3 First Name,Owner Address,Owner City State,Owner Postal Code,Owner Carrier Route,Owner Occupied Y/N,Owner Do Not Mail Y/N,Municipality,Subdivision Neighborhood,Tax ID,Tax ID Alt,Tax Map,Block,Lot,Qual Code,Coastal Zone,Old Tax ID,High School District,Census Tract Block Z4,Census Tract Block,Tax Year,Annual Tax,County Tax,Municipal Tax,School Tax,Taxable Land Asmt,Taxable Bldg Asmt,Taxable Total Asmt,Deed Record Date,Settle Date,Sale Amount,Sale Type,Property Class,Structure Type,Condo YN,Land Use Code,Land Use,Lot Frontage,Lot Depth,Lot SqFt,Lot Acres,Lot Shape,Zoning,County Land Desc,Bldg Sq Ft Total,Abv Grd Fin SQFT,Bldg SQFT Bsmt Fin,Bldg Frontage,Bldg Depth,Stories,Total Rooms,Bedrooms,Full Baths,Partial Baths,Exterior,Exterior Amenities,Exterior Features,Basement YN,Basement Type,Basement Total SqFt,Basement Fin SqFt,Basement Unfin SqFt,Bsmt Desc,FireplaceTotal,Cooking Fuel,Cooling,Heat Delivery,Utils Avail,Pool Type,Garage YN,Garage Type,Year Built,Year Remodel,County Bldg Desc,Agricultural District,Bsmt Type,Garage Spaces,Full Baths.1,Partial Baths.1,Total Baths,Tax Notice
0,15 Viburnum Ct,15,NaN,NaN,NaN,NaN,Viburnum Ct,Trenton,MERCERNJ,8648,R011,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17026 Bold Venture Dr,"Leesburg, Va",20176.0,,No,No,Lawrence Twp,SOCIETY HILL,07-06201-00006-C1502,07-06201-00006-C1502,6203,6201,6,C1502,NaN,07-00013-00007 01-C15B,Lawrence Twp,33.012,33.012,2025,"$6,285",$,$,$,"$60,000","$138,600","$198,600",NaN,11/29/2016,$1,Nominal,Residential,NaN,Yes,0,NaN,0,0,0,0,NaN,PVD1,.002273 INT,0,1508,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,No,NaN,1984,0,CONDO 300B 1F I,NaN,NaN,0,0.0,0.0,0.0,NaN
1,36 Magnolia Ct,36,NaN,NaN,NaN,NaN,Magnolia Ct,Trenton,MERCERNJ,8648,R006,No,231 NEW ST LLC,231 NEW ST LLC,231 NEW ST LLC,NaN,NaN,NaN,NaN,NaN,370 Delsea Dr N,GLASSBORO NJ,8028.0,C002,No,No,Lawrence Twp,SOCIETY HILL,07-06201-00025-C3510,07-06201-00025-C3510,62,6201,25,C3510,NaN,07-00013-00021 02-C35A,Lawrence Twp,33.012,33.012,2025,"$5,744",$,$,$,"$60,000","$121,500","$181,500",07/18/2018,07/14/2018,"$239,000",NaN,Residential,NaN,Yes,0,NaN,0,0,0,0,NaN,PVD1,.002273 INT,0,1312,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,No,NaN,1984,0,CONDO 250 1F E,NaN,NaN,0,0.0,0.0,0.0,NaN
2,26 Pagoda Ct,26,NaN,NaN,NaN,NaN,Pagoda Ct,Trenton,MERCERNJ,8648,R006,No,26 Pagoda Ct Llc,26 Pagoda Ct Llc,26 Pagoda Ct Llc,NaN,NaN,NaN,NaN,NaN,56 Oliver Ave,EDISON NJ,8820.0,NaN,No,No,Lawrence Twp,SOCIETY HILL,07-06201-00025-C3710,07-06201-00025-C3710,62,6201,25,C3710,NaN,07-00013-00021 02-C37A,Lawrence Twp,33.012,33.012,2025,"$7,061",$,$,$,"$60,000","$163,100","$223,100",04/27/2023,04/14/2023,"$360,000",NaN,Residential,NaN,Yes,0,NaN,0,0,0,0,NaN,PVD1,.002273 INT,0,1620,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,No,NaN,1984,0,CONDO 300A 1F E,NaN,NaN,0,0.0,0.0,0.0,NaN
3,43 Magnolia Ct,43,NaN,NaN,NaN,NaN,Magnolia Ct,Trenton,MERCERNJ,8648,R006,No,43 Magnolia Court Llc,43 Magnolia Court Llc,43 Magnolia Court Llc,NaN,NaN,NaN,NaN,NaN,16 Crusher Rd,HOPEWELL NJ,8525.0,NaN,No,No,Lawrence Twp,SOCIETY HILL,07-06201-00025-C3640,07-06201-00025-C3640,62,6201,25,C3640,NaN,07-00013-00021 02-C36D,Lawrence Twp,33.012,33.012,2025,"$7,801",$,$,$,"$60,000","$186,500","$246,500",03/23/2023,03/10/2023,$,NaN,Residential,NaN,Yes,0,NaN,0,0,0,0,NaN,PVD1,.002273 INT,0,1740,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,No,NaN,1984,0,CONDO 600 1F I,NaN,NaN,0,0.0,0.0,0.0,NaN
4,44 Cypress Ct,44,NaN,NaN,NaN,NaN,Cypress Ct,Trenton,MERCERNJ,8648,R011,No,44 Cypress Llc,44 Cypress Llc,44 Cypress Llc,NaN,NaN,NaN,NaN,NaN,25 Harrowgate Dr,CHERRY HILL NJ,8003.0,NaN,No,No,Lawrence Twp,SOCIETY HILL,07-06201-00006-C1761,07-06201-00006-C1761,6203,6201,6,C1761,NaN,07-00013-00007 01-C17F1,Lawrence Twp,33.012,33.012,2025,"$4,544",$,$,$,"$50,000","$93,600","$143,600",12/05/2024,11/14/2024,$,NaN,Residential,NaN,Yes,0,NaN,0,0,0,0,NaN,PVD1,.002273 INT,0,1008,0,0,0,0,0,0.0,0.0,0.0,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,No,NaN,1984,0,CONDO 6600 1F E,NaN,NaN,0,0.0,0.0,0.0,NaN

In [5]:
df = public_data[['Owner First Name', 'Owner Last Name', 'Property Address Formatted', 'City', 'County', 'Postal Code', 'Owner Address', 'Owner City State', 'Owner Postal Code']]

In [6]:
df['Property State'] = df['County'].str[-2:]

C:\Users\cjava\AppData\Local\Temp\ipykernel_384\1763010322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Property State'] = df['County'].str[-2:]

In [7]:
df = df.drop(columns=['County'])

In [8]:
df['Postal Code'] = df['Postal Code'].astype(str).str.zfill(5)

In [9]:
df['Mailing State'] = df['Owner City State'].str[-2:]  # Get the last two characters for the state
df['Mailing City'] = df['Owner City State'].str[:-3]

In [10]:
df = df.drop(columns=['Owner City State'])

In [11]:
df['Owner Postal Code'] = df['Owner Postal Code'].astype(str).str.replace('.0', '', regex=False)

In [12]:
df['Owner Postal Code'] = df['Owner Postal Code'].astype(str).str.zfill(5)

In [13]:
column_counts = df.count()
print(column_counts)

Owner First Name              394
Owner Last Name               439
Property Address Formatted    440
City                          440
Postal Code                   440
Owner Address                 439
Owner Postal Code             440
Property State                440
Mailing State                 439
Mailing City                  439
dtype: int64

In [ ]:
#df = df.dropna()

In [ ]:
#df = df.iloc[2001:]

In [ ]:
#drop only rows based on specific columns:

#df = df.dropna(subset=['column1', 'column2'])

In [14]:
df = df[['Owner First Name', 'Owner Last Name', 'Property Address Formatted', 'City', 'Property State', 'Postal Code', 'Owner Address', 'Mailing City', 'Mailing State', 'Owner Postal Code']]

In [15]:
df = df.rename(columns={
    'Property Address Formatted': 'Property Address',
    'City': 'Property City',
    'Postal Code': 'Property Zip Code', 
    'Owner Address': 'Mailing Address',
    'Owner Postal Code': 'Mailing Zip Code'

})

In [18]:
df

,Owner First Name,Owner Last Name,Property Address,Property City,Property State,Property Zip Code,Mailing Address,Mailing City,Mailing State,Mailing Zip Code
0,NaN,NaN,15 Viburnum Ct,Trenton,NJ,08648,17026 Bold Venture Dr,"Leesburg,",Va,20176
1,NaN,231 NEW ST LLC,36 Magnolia Ct,Trenton,NJ,08648,370 Delsea Dr N,GLASSBORO,NJ,08028
2,NaN,26 Pagoda Ct Llc,26 Pagoda Ct,Trenton,NJ,08648,56 Oliver Ave,EDISON,NJ,08820
3,NaN,43 Magnolia Court Llc,43 Magnolia Ct,Trenton,NJ,08648,16 Crusher Rd,HOPEWELL,NJ,08525
4,NaN,44 Cypress Llc,44 Cypress Ct,Trenton,NJ,08648,25 Harrowgate Dr,CHERRY HILL,NJ,08003
...,...,...,...,...,...,...,...,...,...,...
435,Yi,Cai,32 Quince Ct,Trenton,NJ,08648,376 Riverside Dr,PRINCETON,NJ,08540
436,YUE,ZHU,85 Quince Ct,Trenton,NJ,08648,85 Quince Ct,Lawrence Township,NJ,08648
437,Yuseon,YUN,16 Coral Tree Ct,Trenton,NJ,08648,16 Coral Tree Ct,LAWRENCE TOWNSHIP,NJ,08648
438,Zahid,Rehman,33 Sycamore Ct,Trenton,NJ,08648,33 Sycamore Ct,LAWRENCE,NJ,08648
439,Guan,ZHONGHONG,66 Sycamore Ct,Trenton,NJ,08648,12 Oxford Dr,Warminster,Pa,18974

In [99]:
# Combine first and last names to check for duplicates
df['full_name'] = df['Owner First Name'] + ' ' + df['Owner Last Name']

In [100]:
# Combine Mailing Address and City to check for duplicates
df['Address_City'] = df['Mailing Address'] + ' ' + df['Mailing City'].str.lower().str.strip()

In [102]:
# Identify duplicates based on a subset of columns
duplicates = df[df.duplicated(subset=['Address_City'], keep='first')]

# View duplicates
print(duplicates)

    Owner First Name                           Owner Last Name  \
107           Dmitry                                   Gurvich
110           Dmitry                                   GURVICH
111           Dmitry                                   GURVICH
114           Dmitry                                   GURVICH
115           Dmitry                                   GURVICH
116           Dmitry                                   GURVICH
119           Dmitry                                   GURVICH
168       Isidoros V                                    ZIAKAS
172              NaN           JAMES & INES ARENA FAMILY TRUST
174              NaN            JAMES& INES ARENA FAMILY TRUST
175              NaN           JAMES & INES ARENA FAMILY TRUST
176              NaN           JAMES & INES ARENA FAMILY TRUST
177              NaN            JAMES& INES ARENA FAMILY TRUST
178              NaN           JAMES & INES ARENA FAMILY TRUST
179              NaN                 JAMES & INES FAMILY TRUST
334           Rathna                                  BHARATHI
367           Sophie                                  OLIVIERO
374              NaN  SUGUNAVEL SABANAYAG& SABANAYAGAM PADMINI
383              NaN                       SYCAMORE COURT, LLC
391              NaN        THE ANGELO MASTROSIMONE FAMILY LLC
392              NaN        THE ANGELO MASTROSIMONE FAMILY LLC
393              LLC            THE ANGELO MASTROSIMONE FAMILY
409          Vasilia                                   MILONAS
427          Xingjia                                       HUA
428          Xingjia                                       HUA
432         Yevgeniy                                GOLDENBERG
433         Yevgeniy                                GOLDENBERG
439             Guan                                 ZHONGHONG

    Property Address Property City Property State Property Zip Code  \
107  12 Barberry Ct        Trenton             NJ             08648
110    41 Azalea Ct        Trenton             NJ             08648
111    11 Azalea Ct        Trenton             NJ             08648
114    94 Quince Ct        Trenton             NJ             08648
115   104 Quince Ct        Trenton             NJ             08648
116   102 Quince Ct        Trenton             NJ             08648
119   25 Juniper Ct        Trenton             NJ             08648
168    82 Quince Ct        Trenton             NJ             08648
172  22 Barberry Ct        Trenton             NJ             08648
174    43 Azalea Ct        Trenton             NJ             08648
175    33 Azalea Ct        Trenton             NJ             08648
176    27 Azalea Ct        Trenton             NJ             08648
177    23 Azalea Ct        Trenton             NJ             08648
178   42 Juniper Ct        Trenton             NJ             08648
179  13 Oleander Ct        Trenton             NJ             08648
334   12 Juniper Ct        Trenton             NJ             08648
367    72 Quince Ct        Trenton             NJ             08648
374   23 Juniper Ct        Trenton             NJ             08648
383  75 Sycamore Ct        Trenton             NJ             08648
391   24 Juniper Ct        Trenton             NJ             08648
392   108 Quince Ct        Trenton             NJ             08648
393  93 Sycamore Ct        Trenton             NJ             08648
409  14 Magnolia Ct        Trenton             NJ             08648
427    42 Azalea Ct        Trenton             NJ             08648
428    83 Quince Ct        Trenton             NJ             08648
432  14 Barberry Ct        Trenton             NJ             08648
433    25 Mimosa Ct        Trenton             NJ             08648
439  66 Sycamore Ct        Trenton             NJ             08648

           Mailing Address        Mailing City Mailing State Mailing Zip Code  \
107              35 Dix Ln       LAWRENCEVILLE            NJ            08648
110              35 Dix Ln       Lawrenceville            Nj            08648
111              35 Dix Ln       Lawrenceville            Nj            08648
114              35 Dix Ln       Lawrenceville            Nj            08648
115              35 Dix Ln       Lawrenceville            Nj            08648
116              35 Dix Ln       Lawrenceville            Nj            08648
119              35 Dix Ln       Lawrenceville            Nj            08648
168           82 Quince Ct             TRENTON            NJ            08648
172  17026 Bold Venture Dr            Leesburg            VA            20176
174  17026 Bold Venture Dr           Leesburg,            Va            20176
175  17026 Bold Venture Dr            Leesburg            VA            20176
176  17026 Bold Venture Dr            Leesburg            VA            20176
177  17026 Bold Venture Dr           Leesburg,            Va            20176
178  17026 Bold Venture Dr            Leesburg            VA            20176
179  17026 Bold Venture Dr            Leesburg            VA            20176
334          20 Vaccaro Rd   LAWRENCE TOWNSHIP            NJ            08648
367        20418 Ruston Rd      Woodland Hills            Ca            91364
374        39 Beechwood Dr             Trenton            Nj            08691
383         37 Slayback Dr  Princeton Junction            NJ            08550
391   56 Fiddlers Creek Rd          TITUSVILLE            NJ            08560
392   56 Fiddlers Creek Rd          TITUSVILLE            NJ            08560
393   56 Fiddlers Creek Rd          TITUSVILLE            NJ            08560
409          19 Theresa Dr   LAWRENCE TOWNSHIP            NJ            08648
427     25 Casselberry Way           PRINCETON            NJ            08540
428     25 Casselberry Way           PRINCETON            NJ            08540
432          198 Lawson Pl             PARAMUS            NJ            07652
433          198 Lawson Pl             PARAMUS            NJ            07652
439           12 Oxford Dr          Warminster            Pa            18974

                              full_name                       Address_City
107                      Dmitry Gurvich            35 Dix Ln lawrenceville
110                      Dmitry GURVICH            35 Dix Ln lawrenceville
111                      Dmitry GURVICH            35 Dix Ln lawrenceville
114                      Dmitry GURVICH            35 Dix Ln lawrenceville
115                      Dmitry GURVICH            35 Dix Ln lawrenceville
116                      Dmitry GURVICH            35 Dix Ln lawrenceville
119                      Dmitry GURVICH            35 Dix Ln lawrenceville
168                   Isidoros V ZIAKAS               82 Quince Ct trenton
172                                 NaN     17026 Bold Venture Dr leesburg
174                                 NaN    17026 Bold Venture Dr leesburg,
175                                 NaN     17026 Bold Venture Dr leesburg
176                                 NaN     17026 Bold Venture Dr leesburg
177                                 NaN    17026 Bold Venture Dr leesburg,
178                                 NaN     17026 Bold Venture Dr leesburg
179                                 NaN     17026 Bold Venture Dr leesburg
334                     Rathna BHARATHI    20 Vaccaro Rd lawrence township
367                     Sophie OLIVIERO     20418 Ruston Rd woodland hills
374                                 NaN            39 Beechwood Dr trenton
383                                 NaN  37 Slayback Dr princeton junction
391                                 NaN    56 Fiddlers Creek Rd titusville
392                                 NaN    56 Fiddlers Creek Rd titusville
393  LLC THE ANGELO MASTROSIMONE FAMILY    56 Fiddlers Creek Rd titusville
409                     Vasilia MILONAS    19 Theresa Dr lawrence township
427                         Xingjia HUA       25 Casselberry Way princeton
428                         Xingjia HUA       25 Casselberry Way princeton
432                 Yevgeniy GOLDENBERG              198 Lawson Pl paramus
433                 Yevgeniy GOLDENBERG              198 Lawson Pl paramus
439                      Guan ZHONGHONG            12 Oxford Dr warminster

In [103]:
df.drop_duplicates(subset='Address_City', keep='first', inplace=True)

In [104]:
#Drop all duplicates except for the first occurance:

df.drop_duplicates(subset='full_name', keep='first', inplace=True)

In [105]:
# Drop the combined column if no longer needed
df = df.drop(columns=['Address_City'])

In [106]:
# Drop the combined column if no longer needed
df = df.drop(columns=['full_name'])

In [17]:
df.to_csv('Lawrence_Society_Hill_Owners-with-duplicates.csv', index=False)

In [ ]:
# Use if only taking certain records from spreadsheet, in this case the first 2000 records:

#new_df = df[:2001]

In [ ]:
# Saving certain records to csv:

#new_df.to_csv('1-2000-Mercer_absentee_owners-CLEAN.csv', index=False)

In [3]:
p = Path("C:/Users/chris/Desktop/Data_Projects/Absentee_Owner_Data_Cleaning/11-26-24-records_2001-end_Mercer_absentee_owners-CLEAN.csv")

In [4]:
data = pd.read_csv(p)

In [5]:
data.count()

Owner First Name     2909
Owner Last Name      2909
Property Address     2909
Property City        2909
Property State       2909
Property Zip Code    2909
Mailing Address      2909
Mailing City         2908
Mailing State        2909
Mailing Zip Code     2909
dtype: int64